body{

	background-color: #FF9A00;

}

.button {

	margin: auto;
    height: 100px;
    width: 150px;
    background-color: white;
    padding: 10px;
    text-align: center;
	vertical-align: middle;
	line-height: 90px;
    font-size: 40px;
    border-radius: 25px;


}
.finalLine{
	margin-top: 50px;
	font-family: 'Ruslan Display', cursive;
	font-size: 25px;
	text-align: center;
}
.onclick{

	height: 100px;
	width: 100px;
	margin-right: 50px;
	
}
