.container{
	/*background-color: green;*/
}

/*.imageStuff{


}*/

/*body{
	margin: 0;
}*/

.title{
	text-align: center;
	background: url(../assets/image2.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.subtitle p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-style: italic;
	font-size: 22px;
	margin: 0 auto;
	width: 600px;
	margin-bottom: 40px;
}

p{ 
	/*margin-left: 35vw;*/
	font-size: 21px;
	/*margin-right: 30vw;*/
	line-height: 1.3em;
	font-family: 'Spectral', serif;
	font-weight: 400;
	line-height: 1.31em;
	/*column-width: 600px;*/
	/*column-count: 1;*/
	/*letter-spacing: .035em;*/

}
.paragraph {
	width: 600px;
	margin: 0 auto;
}
.credits h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 45px;
}

img{
	/*position: fixed;
	display: block;*/
    margin-left: 24vw;
    margin-right: auto;
    width: 50%;
    align-content: center;
    height: 800px
    width: 900px;
}

.footer{

	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 800;

}
.caption{

	font-family: sans-serif;
	font-weight: 200;
	line-height: 1em;
	font-size: 12px;
	font-style: italic; 

}
.credits{

	font-size: 5px;
	font-style: italic;
	font-weight: 100;	
}

.text{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 50px;
	line-height: 1.1em;
	width: 400px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.titleImage{

	margin-right: 24vw;

}
.topic p{

	font-size: 23px;
	font-family: 'Open Sans', sans-serif;
  	font-weight: 800;
  	letter-spacing: .035em;
  	font-style: bold;
  	margin: 0 auto;
  	width: 600px;
	
}

@media only screen and (max-width: 1024px){

	p{ 
	font-size: 20px;
	line-height: 1.3em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 1.31em;
	column-width: 800px;
	
	}

}

@media only screen and (max-width: 768px){

	p{
		
	font-size: 22px;
	line-height: 1.3em;
	font-family: 'Spectral', serif;
	font-weight: 400;
	line-height: 1.31em;
	column-width: 800px;
	}

	.text{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 30px;
	line-height: 1em;
	width: 300px;
	margin: 0 auto;
	margin-bottom: 20px;
	}

}
@media only screen and (max-width: 375px){

	p{
	font-size: 85px;
	line-height: 1.5em;
	column-width: 360px;
	}

	.text{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 35px;
	line-height: 1em;
	width: 3600px;
	margin: 0 auto;
	margin-bottom: 20px;
	}

}

















