.titleStuff{
	text-align: center;
}
p{
	margin-left: 425px;
	margin-right: 425px;
	line-height: 1.5em;
}

img{
	/*position: fixed;
	display: block;*/
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.bigText{
	margin-top: 65px;
	margin-bottom: 75px;
	margin-right: 550px;
	margin-left: 25px;
	
}
.firstWords{

	font-size: 17px;
}