



.title{
	text-align: center;
}
.subtitle{
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	font-style: italic;
	margin-top: 0px;
	font-size: 12px;
}

p{ /*fix to not affect all paragraphs*/
	margin-left: 35vw;
	font-size: 21px;
	margin-right: 30vw;
	line-height: 1.3em;
	font-family: 'Spectral', serif;
	font-weight: 400;
	line-height: 1.31em;
	column-width: 600px;
	column-count: 1;
	/*letter-spacing: .035em;*/

}

h1{

	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 45px;
}

img{
	/*position: fixed;
	display: block;*/
    margin-left: 24vw;
    margin-right: auto;
    width: 50%;
    align-content: center;
    height: 800px
    width: 900px;
}

.bigText{
	margin-top: 65px;
	margin-bottom: 75px;
	margin-right: 530px;
	margin-left: 25px;
	
}
.firstWords{

	font-size: 23px;
	font-family: 'Spectral', serif;
  	font-weight: 700;
  	letter-spacing: .035em;
}
.footer{

	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 800;

}
.caption{

	font-family: sans-serif;
	font-weight: 200;
	line-height: 1em;
	font-size: 12px;
	margin-top: 0vw;
	margin-left: 24vw;
	font-style: italic; 

}
.credits{

	font-size: 10px;	
}

.text{

	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 50px;
	line-height: 1.1em;
}
.titleImage{

	margin-right: 24vw;

}
.topic{

	font-size: 23px;
	font-family: 'Open Sans', sans-serif;
  	font-weight: 800;
  	letter-spacing: .035em;
  	font-style: bold;
}

@media only screen and (max-width: 1024px){

	p{ /*fix to not affect all paragraphs*/
	margin-left: 30vw;
	font-size: 19px;
	margin-right: 30vw;
	line-height: 1.3em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 1.31em;
	column-width: 800px;
	column-count: 1;
	/*letter-spacing: .035em;*/

}

}

















