.container{
	/*background-color: green;*/
}


.title{
	margin-top: 0;
	text-align: center;
	background: url(../assets/image2.jpg) no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	 -o-background-size: cover;
 	 background-size: cover;
  	width: 100vw;
  	height: 100vh;
}
.subtitle p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-style: italic;
	font-size: 22px;
	margin: 0 auto;
	width: 600px;
	margin-bottom: 40px;
}


p{ 
	font-size: 21px;
	line-height: 1.3em;
	font-family: 'Spectral', serif;
	font-weight: 400;
	line-height: 1.31em;
}
.paragraph {
	width: 600px;
	margin: 0 auto;
}
.credits{
	
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 45px;
}
h1{
	padding-top: 175px;
	font-weight: 800;
	font-size: 60px;
}
img{
    max-height: 75vh;
    max-width: 75vw;
}
.imageBox{
	margin: 0 auto;
	width: 1000px;
}
.footer{

	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 800;

}
.caption{

	font-family: sans-serif;
	font-weight: 200;
	line-height: 1em;
	font-size: 12px;
	font-style: italic; 

}

.text{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 50px;
	line-height: 1.1em;
	width: 400px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.titleImage{

	margin-right: 24vw;

}
.topic p{

	font-size: 23px;
	font-family: 'Open Sans', sans-serif;
  	font-weight: 800;
  	letter-spacing: .035em;
  	font-style: bold;
  	margin: 0 auto;
  	width: 600px;
  	margin-top: 35px;
	
}

@media only screen and (max-width: 1024px){

	p{ 
	font-size: 20px;
	line-height: 1.3em;
	font-family: 'Spectral', serif;
	font-weight: 400;
	line-height: 1.31em;
	}

	.text{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 35px;
	line-height: 1em;
	width: 3600px;
	margin: 0 auto;
	margin-bottom: 20px;
	}

}


@media only screen and (max-width: 768px){

	p{ 
	font-size: 19px;
	line-height: 1.3em;
	font-family: 'Spectral', serif;
	font-weight: 400;
	line-height: 1.31em;
	}

	.text{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 30px;
	line-height: 1em;
	width: 300px;
	margin: 0 auto;
	margin-bottom: 20px;
	}



}
@media only screen and (max-width: 375px){

	p{ 
	font-size: 17px;
	line-height: 1.3em;
	font-family: 'Spectral', serif;
	font-weight: 400;
	line-height: 1.31em;
	}	

	.text{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 35px;
	line-height: 1em;
	width: 3600px;
	margin: 0 auto;
	margin-bottom: 20px;
	}

}

















