*{

background color: black;

}
h1{

	font-family: 'Heebo', sans-serif;
	margin-right: 100px;
	margin-left: 100px;
	text-align: center;
	font-weight: bolder;
	color: white;

}

h2{
	font-family: 'Heebo', sans-serif;
	margin-right: 100px;
	margin-left: 100px;
	text-align: center;
	margin-bottom: 25px;
	font-weight: bold;
	color: white;
}



p {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	margin-right: 400px;
	margin-left: 400px;
	letter-spacing: .75px;
	line-height: 1.4em;
	/*letter-spacing: in px, em, etc*/
	color: white;
	
}

body{

	background-color: black;

}

a:hover{
	color: #7f8c8d;
	transition: color .2s ease;


}
a:visited{
	color: #ce9898;


}
.topText{

	margin-top: 70px;

}

.bottomText{

	margin-bottom: 70px;
}
.link{

	margin-bottom: 75px;
}
.centeredText{

	margin-top: 350px;
	text-align: center;
}

.firstWords{

	font-size: 22px;
	font-weight: bold;
	letter-spacing: .25px;
	text-decoration: none;
    border-bottom: 1px dotted black;
}











