h1{

	font-family: 'Dosis', sans-serif;

margin-right: 100px;
	margin-left: 100px;
}
h2{
font-family: 'Dosis', sans-serif;
margin-right: 100px;
	margin-left: 100px;
}



p {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	margin-right: 275px;
	margin-left: 275px;
	letter-spacing: .75px;
	line-height: 27px;
}

body{

	background-color: #f0f0ef;

}

a:hover{
	color: #7f8c8d;
	transition: color .2s ease;


}
.topText{

	margin-top: 70px;
}

.bottomText{

	margin-bottom: 70px;
}
.link{

	margin-bottom: 75px;
}
