body {
	/*background-color: yellow;*/
	font-size: 24px;
}
#container {
	width: 80vw;
	margin: 0 auto;
	/*background-color: green;*/
}
.title {
	width: 55vw;
	margin: 0 auto;
	background-color: white;
}
.body-text {
	width: 55vw;
	margin: 0 auto;
	background-color: white;
}
.contrast-text {
	width: 45vw;
	margin: 0 auto;
	background-color: white;
}

h1 {
	text-align: center;
	font-size: 3.5em;
	font-family: sans-serif;
}
h4 {
	font-family: sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}
p.body {
	font-size: 1.4em;


}
p.disclaimer {
	font-style: italic;
	font-size: .8em;
}
p {
	font-size: 1em;
	line-height: 1.35em;
}

@media only screen and (max-width: 1000px) {
    body {
		font-size: 22px;
	}
	#container {
		width: 80vw;
	}
	.headline {
		width: 60vw;
	}
	.body-text {
		width: 50vw;
	}
	h1 {
		font-size: 3em;
	}
	p.body {
		font-size: 1.8em;

	}
	p.disclaimer {
		font-size: .8em;
	}
	p {
		font-size: 1em;
	}
}

@media only screen and (max-width: 600px) {
    body {
		font-size: 19px;
	}
	#container {
		width: 90vw;
	}
	.headline {
		width: 90vw;
	}
	.body-text {
		width: 80vw;

	}
	.contrast-text {
	width: 75vw;
	margin: 0 auto;
	background-color: white;
}
	h1 {
		font-size: 1.4em;
	}
	p.body {
		font-size: 1.0em;

	}
	p.disclaimer {
		font-size: .6em;
	}
	p {
		font-size: .8em;
	}
}





