.titleImage{
	margin-top: 0;
	text-align: center;
	background: url(../assets/testBg.jpeg) no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	 -o-background-size: cover;
 	 background-size: cover;
  	width: 100vw;
  	height: 100vh;
}
.titleText{
	align-content: center;
	margin: 0 auto;
}
.info{
	width: 30vw;
	margin: 0 auto;
}
h4{
	font-family: 'Frank Ruhl Libre', serif;	
	font-weight: 700;
}
li{
	font-family: 'Frank Ruhl Libre', serif;
}
a{
	color: black;
	/*color: #010062;*/
	/*color: #5000C5;*/
}
p {
	line-height: 1.5em;
	font-family: 'Work Sans', sans-serif;
	font-size: 17px;
}
body {
	margin: 0;
	background-color: whitesmoke
}
.red {
	background-color: #3098e9;
}
.mainContainer {
	width: 100vw;
	text-align: center;
}
.mainContainer p {
	text-align: left;
}
.header, .main {
	width: 80vw;
	margin: 0 auto;
	padding: 25px 0;
}
.logo, .nav, li {
	float: left;
}
ul {
	margin: 0;
}
li {
	padding: 0 20px;
	padding-right: 0;
	list-style: none;
}
h4 {
	margin: 0;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
.album {
	float:left; 
	width: 40vw;
	/*margin-bottom: 12px;*/
	/*background-color: red;*/
}
.album img {
	width: 100%;
}
.a4 {
	margin-bottom: 5px;
	width: 100%
}

}
.container{
	margin: 0 auto;
}

.backCover{
	width: 40vw;
	margin: 0 auto;
}
.aboutPgImage{
	width: 50vw;
	margin: 0 auto;
}
.frontAlbum{
	/*max-width: 80%;*/
}


.title{
	font-weight: bold;
	/*margin: 0;*/
	margin: auto;
    width: 50%;
	/*color: white;*/
	font-size: 35px;
	text-align: center;
}
.subtitle{
	font-weight: bold;
	margin: 0;
	/*color: white;*/
	font-size: 27px;
	text-align: center;
	/*margin-bottom: 15px;*/
}
.mainContainer{
	width: 80vw;
	margin: 0 auto;
	/*background-color: green;*/
}
.endQuote p{
	font-style: italic;
	font-size: 15px;
	width: 30vw;
	margin: 0 auto;
}
.firstWords{
	font-size: 19px;
	font-weight: 600;
}
.endQuote{
	margin-top: 60px;
	/*background-color: green;*/
}
.subtitleImage{
	width: 35vw;
	margin: 0 auto;
	text-align: center;
}
.box{
	background-color: grey;
	width: 35vw;
	height: 59vh;
	text-align: center;
	margin: 0 auto;
}
.test{
	float: right;
}
@media only screen and (max-width: 768px){
	/*p{
		
	}*/
	.mainContainer {
		width: 75vw;
		text-align: center;
	}
	/*.mainContainer p {
		text-align: left;
	}*/
	.album{
		/*float:left; */
		width: 70vw;
		margin-bottom: 13px;
	}
	.info{
		width: 75vw;
	}	
	.backCover{
		width: 70vw;
		max-width: 110%;
	}
	.aboutPgImage{
		width: 70vw;
		max-width: 110%;
		margin: 0 auto;
	}

}
@media only screen and (max-width: 1024px){
	/*p{
		font-size: 
	}*/
	.mainContainer {
		width: 70vw;
		text-align: center;
	}
	.album{
		/*float:left; */
		width: 70vw;
		margin-bottom: 13px;
	}
	.info{
		width: 50vw;
	}	
	.backCover{
		width: 65vw;
		max-width: 110%;
	}
	.aboutPgImage{
		width: 65vw;
		max-width: 110%;
		margin: 0 auto;
	}

}











