.info{
	width: 30vw;
	margin: 0 auto;
}
p {
	line-height: 1.4em;
}

body {
	margin: 0;
	background-color: whitesmoke
}
.red {
	background-color: dodgerblue;
}
.container {
	width: 100vw;
}
.header, .main {
	width: 60vw;
	margin: 0 auto;
	padding: 25px 0;
}
.logo, .nav, li {
	float: left;
}
ul {
	margin: 0;
}
li {
	padding: 0 25px;
	list-style: none;
}
h4 {
	margin: 0;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
.album {
	float:left; width: 40vw;
}
.a4 {
	margin-bottom: 5px;
}
.container{
	margin: 0 auto;
	
}
img{
	max-width: 80%
}