body{background-color: whitesmoke}
.album {
	float:left; width: 40vw;
}
.a4 {
	margin-bottom: 5px;
}
.container{
	margin: 0 auto;
}
img{
	max-width: 80%
}

/*@media only screen and (max-width: 600px){


}*/